@model IEnumerable<CuaHangNhacCu.Models.User>
@{
    ViewData["Title"] = "Quản lý User";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Tạo User Mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>